<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>

<body style="background-color: #333;">
    
    <h1>Welcome to text analyzer:Please Enter your text here</h1>
    <form action = '/analyze' method = 'get'>   
        <textarea name = 'text' style = 'margin: 0px; height: 300px; width:1500px;'> </textarea><br>
        <input type = 'checkbox' name= 'removepunc'> Remove Punctuations<br>
        <input type = 'checkbox' name= 'removespace'> Remove Spaces<br>
        <input type = 'checkbox' name= 'upper'> Upper Case <br>
        <button type = 'submit'> Analyze Text </button>
    </form>

    <div style="background-color: black; color: white;">
        This div has a dark background and white text.
      </div>

</body>
</html>